# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env

# docker
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# coverage / testing
coverage/

# build
dist/
build/

# misc
*.log